.sidebar {
  background: #f5f5f5;
  padding: 1.5rem;
  box-shadow: inset -13px 0 20px -20px rgba(10, 10, 10, 0.25);
  .logo {
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $light-gray;
  }
  .menu {
    margin-bottom: 2rem;
    .badge {
      position: absolute;
      right: 0;
      top: 4px;
    }
    a {
      color: #000;
      padding-left: 0;
      padding-right: 0;
      font-size: .8rem;
      &.is-active {
        color: $red;
        text-decoration: underline;
      }
      &.favs:before {
        background-image: url(https://cmsmagazine.ru/images/main_menu/star.svg);
      }
      &.favs.is-active:before {
        background-image: url(https://cmsmagazine.ru/images/main_menu/star_red.svg);
      }
      &.search:before {
        background-image: url(https://cmsmagazine.ru/images/main_menu/search.svg);
      }
      &.lk:before {
        background-image: url(https://cmsmagazine.ru/images/main_menu/enter.svg);
      }
    }
  }
  .main-menu {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .aux-menu {
    a {
      position: relative;
      padding-left: 2rem;
      &:before {
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        left: 0;
        top: 3px;
        background: center center no-repeat;
      }
    }
  }
}
.content {
  padding: 1rem 3rem;
}