.instrument-list {
  font-size: 0.9rem;
  th {
    color: $dark-gray;
    font-size: .7rem;
    text-transform: uppercase;
    width: 15%;
    &.sponsor {
      width: 3%;
    }
    &.cms {
      width: 37%;
    }
    a {
      color: $dark-gray;
      font-size: 0.7rem;
      &.active {
        color: $red;
        position: relative;
        &:after {
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border: inset 6px;
          content: '';
          border-bottom-width: 0;
          border-top-style: solid;
          border-color: $red transparent transparent;
          right: -20px;
          top: 7px;
          left: auto;
          margin-top: -3px;
        }
        &.asc:after {
          transform: rotate(180deg);
        }
      } 
    }
  }
  tbody {
    td {
      padding: 1rem 0.625rem 1.225rem;
      border-bottom: 1px solid $light-gray;
    }
    .instrument-logo {
      display: inline-block;
      max-width: 40px;
      margin-right: 10px;
      vertical-align: top;
    }
    .simbol-logo  {
      font-size: 1.2rem;
      color: $red;
      font-weight: bold;
    }
    .title-block {
      display: inline-block;
      span {
        display: block;
      }
      .title {
        font-weight: bold;
      }
    }
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $white;
    border-radius: 3px;
    border: 1px solid $red;
  }
  
  .container:hover input ~ .checkmark {
    background-color: lighten($red, 50%);
  }
  
  .container input:checked ~ .checkmark {
    background-color: $red;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}